.pagination {
  text-transform: lowercase;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pages {
  color: white;
}

.btn {
  background-color: transparent;
  border: none;
  color: white;
}

.btn:hover {
  cursor: pointer;
}

svg {
  fill: white;
  font-weight: bold;
  font-family: merriweather;
}
