.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: #f8f9fa;
}

.logo {
  display: flex;
  align-items: center;
}

.news {
  color: #ff6347;
}

.app {
  color: #007bff;
}

.nav {
  flex-grow: 1;
}

.navList {
  display: flex;
  list-style: none;
  padding: 0;
}

.navItem {
  margin: 0 15px;
  cursor: pointer;
  transition: color 0.3s;
}

.socialMedia {
  display: flex;
  gap: 10px;
}