* {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}

.top-headlines {
  padding: 1vw;
  font-family: merriweather;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  color: black;
}

.languages {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  padding: 1vw;
}

.language {
  width: 5%;
  font-size: 1rem;
}

.title {
  font-size: 1rem;
  font-family: merriweather;
  background-color: rgb(26, 115, 232);
  color: white;
  text-transform: uppercase;
}

.description {
  text-align: left;
  font-family: merriweather;
  text-transform: uppercase;
  font-weight: bold;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  padding-top: 1vw;
  position: relative;
  border-bottom: 0.5px solid #405ded;
  font-size: 1rem;
}

.article:hover {
  background-color: rgba(64, 93, 237, 0.1);
  opacity: 0.99;
  transition: 0.5s;
}
