* {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
}

.top-headlines {
  padding: 1vw;
  font-family: merriweather;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  color: black;
}

.title {
  font-size: 1rem;
  font-family: merriweather;
  background-color: rgb(26, 115, 232);
  color: white;
  text-transform: uppercase;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  padding-top: 1vw;
  position: relative;
  border-bottom: 0.5px solid #405ded;
  font-size: 1rem;
  transition: transform 0.5s ease;
}

.slide-in {
  animation: slideIn 0.5s forwards;
}

.slide-out {
  animation: slideOut 0.5s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(25%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-25%);
    opacity: 0;
  }
}

.article:hover {
  background-color: rgba(64, 93, 237, 0.1);
  opacity: 0.99;
  transition: 0.5s;
}
